@font-face {
  font-family: font;
  src: url(./assets/Poppins-Regular.ttf);
}
body{
  margin: 0;
  font-family: font;
  font-size: 1.3rem;
}

header{
  text-align: center;
  background-color: #333333;
  color: white;
  padding: 20px;
}
img{
  max-width: 100%;
}

.row{
  display: flex;
  gap: 30px;
  margin-block: 50px;
}
main{
  padding: 30px;
}
.container{
  max-width: 1200px;
  margin: auto;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.flex-5{
  flex: 5;
}
.flex-6{
  flex: 6;
}

a.link{
  text-align: center;
  text-decoration: none;
  background-color: #f77754;
  color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: block;
  transition: 0.5s;
  font-weight: bold;
  &:hover{
    background-color: #f77754;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  }
}